* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'San Fransisco', sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(20, 20, 25);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 16px;
    width: 100vw;
}

.main-container {
    width: 50vw;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    min-width: 350px;
    max-width: 375px;
}

tspan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    min-width: 18px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(50, 50, 60, 1);
    border-radius: 8px;
    width: 100%;
}

h2 {
    font-weight: 300;
    font-size: 30px;
    color: white;
}

#display {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.display-equation {
    background-color: rgba(50, 52, 58, 0.6);
    border-radius: 8px;
    height: 3rem;
    width: 20vw;
    min-width: 175px;
    max-width: 300px;
    color: white;
    display: flex;
    align-self: flex-end;
    margin: 8px;
}

.display-value {
    height: 4rem;
    background-color: rgba(50, 50, 58, 0.6);
    border-radius: 8px;
    margin: 0 8px;
}

#main-btns {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.row-parent {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    height: 4rem;
    margin: 8px;
    min-width: 340px;
}

.btn {
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(50, 52, 58, 1);
    width: 75px;
    height: 75px;
    border-radius: 8px;
    transform: scale(0.9, 0.9);
    align-items: center;
}

.num {
    font-weight: 500;
    color: white;
}

#multiply>svg {
    transform: scale(0.75, 0.75);
}

#divide>svg {
    transform: scale(0.8, 0.8);
}

svg {
    transform: scale(0.9, 0.9);
}

#ac {
    color: whitesmoke;
    font-weight: 300;
}

#del {
    color: whitesmoke;
    font-weight: 300;
}

#dec {
    color: white;
    font-weight: 500;
}

#equal {
    width: 170px;
    background-color: #FF285E;
}

#ac {
    width: 170px;
}

.row-5 {
    padding: 12px 4px;
    margin: 12px auto;
    display: flex;
    justify-content: space-evenly;
}

.row-5-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    box-sizing: content-box;
    transform: translate(5px);
}

.row-5-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    transform: translate(-5px);
}

.operator {
    background-color: rgba(56, 50, 68, 1);
}

.row-1 {
    transform: translateY(6px);
}

.row-1-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    box-sizing: content-box;
    transform: translate(-3px);
}

.row-1-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    width: inherit;
    transform: translate(2px);
}

.click-transform {
    margin-top: 3px;
}

.back {}